body{
    margin: 0px;
    box-sizing: border-box;
    font-family:'Segoe UI';
    text-align: center;
    }
.logo{
    font-size: 40px;
    color: #1DA1F2;
}
h1{
    font-size: 40px;
}
.container{
    
    text-align: center;
    width:1170px;
    margin: 0 auto;
    padding: 0 16px;
}


input{
    color:rgb(63, 30, 94);
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 12px;
    border-color: #1DA1F2;
}
.user-info{
  width:100%;
  border-color: gray;
  color:gray;
  
}
::placeholder {
    
    width:fit-content;  
    font-weight: bold;

}
.buttons{
    margin-top: 25px;
    
    display:flex;
   justify-content: center;
}
 .buttons a{
    font-size: 20px;
    width:100px;
    text-align: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
    background-color: #1DA1F2;
    text-decoration: none;
    color:antiquewhite;
    font-weight: bold;
}
.footer{
    margin-top: 10px;
    justify-content: center;
    display: flex;
}
