<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link href="/edit_profile.css" rel="stylesheet">
</head>

<body>
    <div>
        <!-- ....................................header.......................... -->
        <header>
            <!-- container to leave space both the sides............ -->
            <div class="container">
                <div class="header">
                    <img src="/images/close.png" width="30px" height="30px" alt="close">
                    <span><strong>Edit Profile</strong></span>
                    <a href="#">Save</a>
                </div>
            </div>
        </header>

        <!-- ..........................back pic....................... -->
        <div class="back_blank_space">

            When user Click on it then select image dialogue box is open
        </div>

        <!-- .............................profile pic...................... -->
        <div class="profile_pic">
            <img src="#" alt="Name">
            When user Click on it then select image dialogue box is open

        </div>

        <!-- .................................container................... -->
        <div class="container">

            <!-- ...................................input div for name............. -->
            <div class="input">
                <div class="label"><label>Name</label></div>
                <div><input type="text" name="user_name" id="user_name">
                </div>
            </div>

            <!-- ................................input div for bio................ -->
            <div class="input">
                <div class="label"><label>Bio</label></div>
                <div><textarea name="bio" id="bio"></textarea>
                </div>
            </div>

            <!-- ..................................input location.............................. -->
            <div class="input">
                <div class="label"><label>Location</label></div>
                <div><input type="text" name="location" id="location">
                </div>
            </div>

        </div>





    </div>
</body>

</html>