<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retweet</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <div>
    <a onclick="increment_count()"><i class="fa fa-retweet"></i></a>
    <p id="cnt"><%=count%></p>
</div>
</body>
<script>
async function increment_count(){
    var tweet_id= 1;//............................................this is testing tweet_id here actual tweet_id is passed............................
    var res = await fetch(`/retweet?tweet_id=${tweet_id}`);
    var data = await res.json();  
    var cnt_increment = data.count;    
    window.location.reload();
    
      
}



</script>
</html>