<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Yinka Enoch Adedokun">
        <meta name="description" content="Simple Forgot Password Page Using HTML and CSS">
        <meta name="keywords" content="forgot password page, basic html and css">
        <title>Forgot Password Page - HTML + CSS</title>
        <link rel="stylesheet" href="/forgetpass.css">
    </head>
    <body>
        <div class="row">
            <h1>OTP Screen</h1>
            <h6 class="information-text">Enter your registered OTP sent to your registered email</h6>
            <form action="/verify_otp" id="form">
            <div class="form-group">
                <input type="number" name="otp" id="user_otp">
                <button type="submit">Varify</button>
            </div>
        </form>
        <h2 id="err"></h2>
        </div>
    </body>
    <script>
      
    </script>
</html>